{% extends 'base.html' %}
{% block title %}App1 - V1{% endblock %}

{% block content %}
    <h1>Caperucita Roja </h1>
    <p>Con una cesta de comida y su capa carmesí, Caperucita cruzó el bosque rumbo a la cabaña de su abuela 
        enferma, ignorando la advertencia de no apartarse del sendero ni hablar con desconocidos. 
        El lobo feroz, astuto y hambriento, la engañó para tomar la ruta más larga mientras él corría a la casa, 
        devoraba a la anciana y se vestía con sus ropas para aguardar a la pequeña bajo las mantas.</p>
{% endblock %}