{% extends 'base.html' %}
{% block title %}App1 - V2{% endblock %}

{% block content %}
    <h1>Los tres cerditos 🐷</h1>
    <p>Tres hermanos cerditos construyeron sus casas para protegerse del peligro: 
        el más perezoso usó paja, el mediano optó por madera para terminar rápido e irse a 
        jugar, y el mayor dedicó días enteros a levantar una sólida vivienda de ladrillo y cemento. 
        Pronto apareció el lobo feroz, quien derribó las dos primeras chozas con unos pocos soplidos 
        devastadores, obligando a los hermanos menores a correr despavoridos a refugiarse con el mayor.</p>

    <p>El lobo sopló y resopló frente a la casa de ladrillo hasta quedarse sin aliento, pero la estructura 
        no cedió ni un milímetro. Desesperado por entrar, la fiera trepó al tejado e intentó colarse por la 
        chimenea, cayendo de lleno en una olla de agua hirviendo que los cerditos habían colocado al fuego; 
        escapó aullando de dolor para no volver jamás, dejando a los hermanos la lección eterna de que la paciencia 
        y el esfuerzo derrotan a cualquier adversidad.</p>
{% endblock %}